* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
  }

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.wrapper{
    display: flex;
    min-width: 1000px;
    margin: 0 auto;
    align-items: center;
    flex: 1;
}