.pricing {
    display: flex;
    flex-direction: row;
    color: rgb(200, 196, 196);
    min-height: 600px;
    gap: 15px;
}

.pricing__product {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
    
    border: 2px solid rgb(200, 196, 196);
}

.level {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    min-width: 100%;
    background: rgb(200, 196, 196);
    color: black;
    font-size: 34px;
}

.pricing__product h2 {
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} 

.pricing__product ul {
    display: flex;
    flex-direction: column;
    min-height: 300px ;
    width: 100%;
    align-items:center;
    justify-content: space-around;
    font-size: 20px;
    
}

.pricing__product h2:hover {
    display: flex;
    width: 100%;
    background:yellow;
   
}